%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et

{deps_dir, ["deps"]}.

{deps, [
        %% hackney is used only for file upload in the Amazon API due
        %% to its support for sendfile
        {hackney, ".*",
         {git, "git://github.com/benoitc/hackney.git",
          {branch, "master"}}},
        {lhttpc, ".*",
         {git, "git://github.com/esl/lhttpc.git", {branch, "master"}}},
        %% erlsom is used for parsing some XML responses from Amazon
        {erlsom, ".*",
         {git, "git://github.com/willemdj/erlsom.git",
          {branch, "master"}}},
        {meck, ".*",
         {git, "git://github.com/eproxus/meck.git", {branch, "master"}}}
       ]}.

{erl_opts, [debug_info]}.
